<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pstcstest.paletteprovider">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaletteProvider">
        <activity android:name=".ResultsActivity" />
        <activity android:name=".SavedColorsActivity" />
        <activity android:name=".ExtractColorActivity" />
        <activity android:name=".ExtractColorPhotoActivity" />
        <activity android:name=".EditPhotoActivity" />
        <activity android:name=".ErrorActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".ZoomActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>